body {
  background-color: #cae8d5;
}
h1{
  color: #3b6978;

}
u{
  color: #679b9b;
}
strong{
  color: #204051;
}
hr {
  border-color: red;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 10%;
}
.pic2{
  height: 50px;
  width: 55px;
}
.emo1{
  font-size: 30px;
}
.f1{
  font-size: 20px;
}
